body {
    margin-top: 10%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

p {
    padding-left: 38px;
    font-size: xx-large;
    color: white;
}